.line-svg {
    position: absolute;
    pointer-events: none;

    .bg-line {
        fill: none;
        stroke-dasharray: 1030;
        animation: bg-line-draw 0.5s linear forwards;
    }

    .line {
        fill: none;
        stroke-dasharray: 1000;
        animation: line-draw 0.5s linear forwards;
    }
}

@keyframes line-draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes bg-line-draw {
    from {
        stroke-dashoffset: 1030;
    }

    to {
        stroke-dashoffset: 0;
    }
}