.circle-svg {
  & path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: circle-stroke 5s ease-out forwards;
  }
}

@keyframes circle-stroke {
  to {
    stroke-dashoffset: 0;
  }
}