#root {
  --col-border-width: 3px;
  --col-border-color: #ffffff;
}

main {
  margin: 0 auto;
  max-width: 580px;
  padding: 0 2%;
}

.game-container {
  display: grid;
  max-width: 580px;
  min-width: 280px;
  min-height: 280px;
  max-height: 580px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.col-one,
.col-two,
.col-three,
.col-four,
.col-five,
.col-six,
.col-seven,
.col-eight,
.col-nine {
  padding: 50%;
  position: relative;
  box-sizing: border-box;
}

.col-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: var(--col-border-width) solid var(--col-border-color);
  border-right: var(--col-border-width) solid var(--col-border-color);
}

.col-two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: var(--col-border-width) solid var(--col-border-color);
}

.col-three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: var(--col-border-width) solid var(--col-border-color);
  border-left: var(--col-border-width) solid var(--col-border-color);
}

.col-four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-right: var(--col-border-width) solid var(--col-border-color);
}

.col-five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.col-six {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-left: var(--col-border-width) solid var(--col-border-color);
}

.col-seven {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: var(--col-border-width) solid var(--col-border-color);
  border-right: var(--col-border-width) solid var(--col-border-color);
}

.col-eight {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: var(--col-border-width) solid var(--col-border-color);
}

.col-nine {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: var(--col-border-width) solid white;
  border-left: var(--col-border-width) solid white;
}

.x-wrapper {
  position: absolute;
  height: auto;
  width: 90%;
  bottom: 2%;
  left: 5%;
}

.circle-wrapper {
  position: absolute;
  height: auto;
  width: 90%;
  top: 5%;
  left: 0;
}

.stats-container {
  max-width: 580px;
  min-width: 280px;
  display: flex;
  margin-top: 20px;

  & div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;

    & span  {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .stats-container {
    & div {
      & span {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .stats-container {
    & div {
      & span {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .stats-container {
    & div {
      & span {
        font-size: 0.9rem;
      }
    }
  }
}